@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

body {
  font-family: 'Montserrat', sans-serif;
  /*font-weight: 500;
  line-height: 1.1;
  color: #ad1d28;*/
}

body {
  background-color: #fff;
}


#map {
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}



#controls {
  /* Appearance */
  background-color: white;
  padding: 20px 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
 /* zoom: 0.99; */
  transition: opacity 500ms 1s;
  z-index: 10;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}